body {
  background-image: url("https://i.pinimg.com/564x/9d/1a/31/9d1a315fddae51023f6b3abf145cbc1d.jpg");
  background-size: 100% 100%;
  background-attachment: fixed;
  background-repeat: no-repeat;
}

.Weather {
  font-family: "Mate SC", serif;
  border: 1px solid #838383;
  padding: 30px;
  margin-top: 180px;
  border-radius: 30px;
}

.Weather form {
  margin-bottom: 20px;
}

.Weather h1 {
  font-size: 40px;
  color: whitesmoke;
  margin: 20px 0 0 0;
  line-height: 30px;
  font-weight: 100;
}

.Weather ul {
  margin: 0;
  padding: 0;
}

.Weather li {
  color: whitesmoke;
  font-size: 28px;
  font-weight: 400;
  height: 19px;
  line-height: 2;
  list-style: none;
}

.Weather ul .humidity {
  position: relative;
  top: -60px;
  font-size: 25px;
}

.Weather ul .wind {
  position: relative;
  top: -60px;
  font-size: 25px;
}

.Weather canvas {
  margin-left: -30px;
  margin-top: 20px;
}

.Weather .text-capitalize {
  color: whitesmoke;
  font-size: 25px;
  top: 10px;
  position: relative;
  line-height: 2;
}

.Weather .temperature {
  font-weight: bold;
  color: whitesmoke;
  font-size: 50px;
  position: relative;
  top: -10px;
  margin-left: -20px;
}

.Weather .unit {
  position: relative;
  top: -30px;
  font-size: 18px;
  color: whitesmoke;
  margin-left: 5px;
}
